package main

import (
	"fmt"
	"net/http"
	"os"

	"{{.RepoURL}}/handlers"
)

func NewServer(addr string) http.Server {
	srv := http.Server{
		Addr:    addr,
		Handler: handlers.Setup(),
	}

	return srv
}

func main() {
	srv := NewServer(":8000")
	if err := srv.ListenAndServe(); err != nil {
		fmt.Println(err)
		os.Exit(1)
	}
}
